
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


body {
        font-family: "Roboto", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }
       
        h1 {
            text-align: center;
            color: #333;
        }
        form {
            display: flex;
            margin: 9%;
            flex-direction: column;
        }
        label {
            margin-top: 10px;
            font-weight: bold;
        }
        input, select, textarea {
            margin-top: 5px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 18px;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }